.simulation_title {
    font-size: 30px;
    border-bottom: 1px solid var(--text);
    margin-bottom: 20px;
}

.simulation {
    height: calc(100vh - 475px);
}

.simulation_messages {
    --simulation_messages_padding: 5px;
    --simulation_messages_padding_bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100% - var(--simulation_messages_padding) - var(--simulation_messages_padding_bottom));
    padding: var(--simulation_messages_padding);
    padding-bottom: var(--simulation_messages_padding_bottom);
    overflow: hidden;
    overflow-y: auto;
}

.simulation_messages:has(> .simulation_setup_cont) {
    height: fit-content
}

.simulation_setup_cont {
    transition: 200ms;
}

.simulation_setup_cont.flip {
    transform: rotateX(45deg) translateX(20px);
    opacity: 0;
}

.simulation_setup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    margin-top: 10px;
    background: var(--background-light);
    border-radius: 10px;
}

.processing,
.error {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background: var(--background-light);
}

.processing:after {
    content: "";
    animation: 2000ms infinite buffer;
}

@keyframes buffer {
    0% {
        content: "Processing";
    }

    33% {
        content: "Processing.";
    }

    66% {
        content: "Processing..";
    }

    100% {
        content: "Processing...";
    }
}

.simulation_input {
    display: flex;
    gap: 5px;

}

.simulation_turn_input {
    z-index: 1;
    flex: 1;
}