.simulation {
    height: calc(100vh - 410px);
}

.simulation_messages {
    --simulation_messages_padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100% - 2*var(--simulation_messages_padding));
    padding: var(--simulation_messages_padding);
    overflow: hidden;
    overflow-y: auto;
}

.simulation_setup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    margin-top: 10px;
    background: var(--background-light);
    border-radius: 10px;
}

.simulation_input {
    display: flex;
    gap: 5px;
}

.simulation_turn_input {
    flex: 1;
}