.history {
    position: relative;
    margin-top: 20px;
}

.history_title {
    font-size: 25px;
    border-bottom: 1px solid var(--text);
    margin-bottom: 5px;
}

.history_entries {
    padding: 5px 0;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
}

.history_entry {
    overflow: hidden;
    display: flex;
    padding: 3px 10px;
    transition: height 200ms, padding 200ms;
}

.history_entry:nth-child(n+1) {
    animation: 200ms linear history_entry_fadein;
}

.history_entry:first-child {
    position: sticky;
    top: 0;
    border-radius: 5px;
    background: var(--background-glass);
    backdrop-filter: blur(3px);
}

.history_entry>* {
    flex: 1;
}

.history_clear {
    width: 100%;
    margin-top: 5px;
}

@keyframes history_entry_fadein {
    from {
        height: 0;
        padding: 0;
        opacity: 0;
    }

    to {
        height: 24px;
        padding: 3px 10px;
        opacity: 1;
    }
}