#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.content {
  --content-shift: 250px;
  position: relative;
  width: calc(100% - 1.75 * var(--content-shift));
  left: var(--content-shift);
  top: calc(-1 * var(--content-shift));
  margin-bottom: calc(-1 * var(--content-shift));
  text-align: left;
  transition: 100ms;
}

.slide {
  animation: 100ms linear slide_in;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-light);
  border-radius: 20px;
  border: 3px solid var(--background);
}

@keyframes slide_in {
  from {
    transform: translateX(10px);
    filter: blur(10px);
  }

  to {
    transform: translateX(0);
  }
}