#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.content {
  --content-shift: 250px;
  position: relative;
  width: calc(100% - 1.75 * var(--content-shift));
  left: var(--content-shift);
  top: calc(-1 * var(--content-shift));
  margin-bottom: calc(-1 * var(--content-shift));
  text-align: left;
  transition: 100ms;
}

.slide {
  animation: 100ms linear slide_in;
}

#blob {
  width: 50px;
  height: 50px;
  background-color: #ff7f50;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-light);
  border-radius: 20px;
  border: 3px solid var(--background);
}

@keyframes slide_in {
  from {
    transform: translateX(10px);
    filter: blur(10px);
  }

  to {
    transform: translateX(0);
  }
}